.singlePlan__wrapper {
  height: 70vh;
  width: 100%;
  max-width: 550px;
  margin: 25px;
  padding: 40px;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
  background-color: #fbfbfb;
  overflow: auto;

  @media(max-width: 900px) {
    width: 100%;
    height: auto;
    max-height: 75vh;
  }
}

.singlePlan__title {
  text-align: center;
  margin-bottom: 20px;
}

.singlePlan__tip {
  margin-top: 50px;
  text-align: center;
}


.singlePlan__meal {
  margin: 40px 0;
}

.singlePlan__infoParagraph {
  margin-bottom: 5px;
}

.singlePlan__infoSpan{
  display: inline-block;
  margin-right: 10px;

  @media(max-width: 800px){
    margin-bottom: 10px;
  }
}

.singlePlan__title-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.singlePlan__item-description:last-child{
  margin-top: 5px;
}