.addSinglePlan__wrapper {
  height: 70vh;
  width: 100%;
  max-width: 550px;
  margin: 25px;
  padding: 40px;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
  background-color: #fbfbfb;
  overflow: auto;


  @media(max-width: 900px) {
    width: 100%;
    height: auto;
    max-height: 75vh;
  }
}

.addSinglePlan__meal {
  margin: 40px 0;
}

.addSinglePlan__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addSinglePlan__item-name {
  margin-bottom: 10px;
}

.addSinglePlan__item-description:last-child{
  margin-top: 5px;
}

.addSinglePlan__title{
  text-align: center;
  margin-bottom: 20px;
}

.addSinglePlan__form-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.addSinglePlan__infoSpan{
  display: inline-block;
  margin-right: 10px;

  @media(max-width: 800px){
    margin-bottom: 10px;
  }
}

.addSinglePlan__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}