.page__header {
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid lightgray;

  @media(max-width: 800px){
    font-size: 13px;
    height: 12vh;
  }
}

.header__title {
  color: #374b52;
  margin-right: 25px;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  color: #374b52;
  font-weight: bold;

  &.active {
    color: cornflowerblue;
  }
}