.page__header {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
  background-color: #fbfbfb;

  @media(max-width: 900px){
    height: 12vh;
  }

  @media(max-width: 700px){
    font-size: 13px;
  }
}

.header__title {
  color: #374b52;
  margin-right: 25px;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  color: #374b52;
  font-weight: bold;

  &.active {
    color: cornflowerblue;
  }
}