.singleProduct__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.singleProduct__item-name{
  margin-bottom: 10px;
}


.singleProduct__item-descriptionLast{
  margin-top: 5px;
}

.singleProduct__form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  input {
    padding: 3px 5px;
    margin-right: 10px;
    width: 40%;
    min-width: 130px;

    box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
    background-color: #fbfbfb;
    border: none;
    border-radius: 5px;

    &::placeholder {
      color: #374b52;
    }

    @media(max-width: 456px) {
      margin-bottom: 10px;
    }
  }

  select {
    padding: 3px 5px;
    box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
    background-color: #fbfbfb;
    border: none;
    border-radius: 5px;
    color: #374b52;
  }
}

.singleProduct__addButton {
  display: inline-block;

  @media(max-width: 610px) {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
}
