.productList__item{
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;

  &-name {
    margin-bottom: 10px;
  }
}

.singleProduct__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  button {

  }
}
